/* Theme: Mobile 5337 */
@import "./mobile-5337/font-size.css";
@import "./mobile-5337/line-height.css";
@import "./mobile-5337/font-weight.css";
@import "./mobile-5337/font-family.css";
@import "./mobile-5337/space.css";
@import "./mobile-5337/border-radius.css";
@import "./mobile-5337/border-width.css";
@import "./mobile-5337/size.css";
@import "./mobile-5337/letter-spacing.css";
@import "./mobile-5337/typography.css";

/* Theme: Desktop 584e */
@import "./desktop-584e/font-size.css";
@import "./desktop-584e/line-height.css";
@import "./desktop-584e/font-weight.css";
@import "./desktop-584e/font-family.css";
@import "./desktop-584e/space.css";
@import "./desktop-584e/border-radius.css";
@import "./desktop-584e/border-width.css";
@import "./desktop-584e/size.css";
@import "./desktop-584e/letter-spacing.css";
@import "./desktop-584e/typography.css";

/* Theme: Light 8132 */
@import "./light-8132/color.css";
@import "./light-8132/shadow.css";

/* Theme: Dark D784 */
@import "./dark-d784/color.css";
@import "./dark-d784/shadow.css";