/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-light-8132 {
  --overlay-5: #ffffff0d;
  --overlay-50: #ffffff80;
  --elevation-soft-1: #28354703;
  --rgb-elevation-soft-1: 40, 53, 71;
  --elevation-soft-2: #28354705;
  --rgb-elevation-soft-2: 40, 53, 71;
  --elevation-soft-4: #2835470a;
  --rgb-elevation-soft-4: 40, 53, 71;
  --elevation-soft-5: #2835470d;
  --rgb-elevation-soft-5: 40, 53, 71;
  --elevation-soft-6: #2835470f;
  --rgb-elevation-soft-6: 40, 53, 71;
  --elevation-soft-7: #28354712;
  --rgb-elevation-soft-7: 40, 53, 71;
  --elevation-strong-4: #e0e2e80a;
  --elevation-strong-8: #e0e2e814;
  --partners-cowswap-primary: #ffffff;
  --partners-fluid-primary: #ffffff;
  --partners-aave-primary: #ffffff;
  --bg-canvas: #f5f7fa;
  --bg-secondary: #e9edf2;
  --bg-subtle: #f5f7fa;
  --bg-muted: #e1e4ea;
  --bg-strong: #d8dce4;
  --bg-inverse-primary: #0e121b;
  --fg-primary: #0e121b;
  --fg-secondary: #525866;
  --fg-tertiary: #6f7686;
  --fg-subtle: #cacfd8;
  --fg-muted: #99a0ae;
  --fg-on-brand: #ffffff;
  --border-weak: #e9edf2;
  --border-subtle: #e1e4ea;
  --border-strong: #d8dce4;
  --border-inverse-primary: #0e121b;
  --brand-emphasis: #ed4206;
  --brand-primary: #60d788;
  --brand-muted: #ff9a70;
  --brand-weak: #fff7f5;
  --brand-subtle: #ffebe5;
  --positive-emphasis: #1f6d32;
  --positive-primary: #2b9a49;
  --positive-muted: #9ee9b2;
  --positive-weak: #f0fdf4;
  --positive-subtle: #dffae4;
  --info-emphasis: #1f5296;
  --info-primary: #3b82f6;
  --info-muted: #9ac4ff;
  --info-weak: #eff6ff;
  --info-subtle: #d9f0ff;
  --warning-emphasis: #bc5527;
  --warning-primary: #ea6d33;
  --warning-muted: #fdb88e;
  --warning-weak: #fff8f5;
  --warning-subtle: #feeee8;
  --negative-emphasis: #a92323;
  --negative-primary: #e63838;
  --negative-muted: #f8aaaa;
  --negative-weak: #fff7f7;
  --negative-subtle: #feefef;
  --bg-surface: #ffffff;
  --bg-surface-raised: #ffffff;
  --bg-primary: #f5f7fa;
  --fg-inverse-primary: #ffffff;
  --brand-strong: #f54b0c;
  --positive-strong: #27853e;
  --info-strong: #2771cd;
  --warning-strong: #d3612d;
  --negative-strong: #d32d2d;
  --bg-primary-raised: #ffffff;
  --fg-on-accent: #ffffff;
  --brand-on-weak: #f76231;
  --positive-on-weak: #22c55e;
  --info-on-weak: #3b82f6;
  --negative-on-weak: #e63838;
  --warning-on-weak: #f97316;
  --support-pink-primary: #d0286d;
  --support-fuchsia-emphasis: #86189e;
  --support-fuchsia-strong: #a71fc4;
  --support-fuchsia-primary: #b627d2;
  --support-fuchsia-muted: #f1b9f9;
  --support-fuchsia-subtle: #fbebfd;
  --support-fuchsia-weak: #fdf5fe;
  --support-fuchsia-on-weak: #b627d2;
  --support-pink-emphasis: #9c184c;
  --support-pink-strong: #c22060;
  --support-pink-muted: #f8b9d8;
  --support-pink-subtle: #fdebf4;
  --support-pink-weak: #fef5fa;
  --support-pink-on-weak: #d0286d;
  --support-violet-emphasis: #3d1fa2;
  --support-violet-strong: #4d28ca;
  --support-violet-primary: #683ee2;
  --support-violet-muted: #d3c1fc;
  --support-violet-subtle: #f2edfe;
  --support-violet-weak: #f9f7ff;
  --support-violet-on-weak: #5a33d8;
}