/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-light-8132 {
  --overlay-5: #ffffff0d;
  --overlay-50: #ffffff80;
  --elevation-2-old: #00000005;
  --rgb-elevation-2-old: 0, 0, 0;
  --elevation-7old: #00000012;
  --rgb-elevation-7old: 0, 0, 0;
  --elevation-10old: #0000001a;
  --rgb-elevation-10old: 0, 0, 0;
  --elevation-13old: #00000021;
  --rgb-elevation-13old: 0, 0, 0;
  --elevation-1: #28354703;
  --rgb-elevation-1: 40, 53, 71;
  --elevation-2: #28354705;
  --rgb-elevation-2: 40, 53, 71;
  --elevation-4: #2835470a;
  --rgb-elevation-4: 40, 53, 71;
  --elevation-5: #2835470d;
  --rgb-elevation-5: 40, 53, 71;
  --elevation-6: #2835470f;
  --rgb-elevation-6: 40, 53, 71;
  --elevation-7: #28354712;
  --rgb-elevation-7: 40, 53, 71;
  --bg-canvas: #f5f7fa;
  --bg-secondary: #e9edf2;
  --bg-subtle: #f5f7fa;
  --bg-muted: #e1e4ea;
  --bg-strong: #d8dce4;
  --bg-inverse-primary: #0e121b;
  --fg-primary: #0e121b;
  --fg-secondary: #525866;
  --fg-tertiary: #6f7686;
  --fg-subtle: #cacfd8;
  --fg-muted: #99a0ae;
  --fg-on-brand: #ffffff;
  --border-weak: #e9edf2;
  --border-subtle: #e1e4ea;
  --border-strong: #d8dce4;
  --border-inverse-primary: #0e121b;
  --brand-emphasis: #ed4206;
  --brand-primary: #f76231;
  --brand-muted: #ff9a70;
  --brand-weak: #fff7f5;
  --brand-subtle: #ffebe5;
  --positive-emphasis: #1f6d32;
  --positive-primary: #2b9a49;
  --positive-muted: #9ee9b2;
  --positive-weak: #f0fdf4;
  --positive-subtle: #dffae4;
  --info-emphasis: #1f5296;
  --info-primary: #3b82f6;
  --info-muted: #9ac4ff;
  --info-weak: #eff6ff;
  --info-subtle: #d9f0ff;
  --warning-emphasis: #bc5527;
  --warning-primary: #ea6d33;
  --warning-muted: #fdb88e;
  --warning-weak: #fff8f5;
  --warning-subtle: #feeee8;
  --negative-emphasis: #a92323;
  --negative-primary: #e63838;
  --negative-muted: #f8aaaa;
  --negative-weak: #fff7f7;
  --negative-subtle: #feefef;
  --bg-surface: #ffffff;
  --bg-surface-raised: #ffffff;
  --bg-primary: #f5f7fa;
  --fg-inverse-primary: #ffffff;
  --brand-strong: #f54b0c;
  --positive-strong: #27853e;
  --info-strong: #2771cd;
  --warning-strong: #d3612d;
  --negative-strong: #d32d2d;
  --support-blue-emphasis: #1e3a8a;
  --support-blue-strong: #1d4ed8;
  --support-blue-primary: #3b82f6;
  --support-blue-muted: #93c5fd;
  --support-blue-subtle: #bfdbfe;
  --support-blue-weak: #dbeafe;
  --support-fuchsia-emphasis: #701a75;
  --support-fuchsia-strong: #a21caf;
  --support-fuchsia-primary: #d946ef;
  --support-fuchsia-muted: #f0abfc;
  --support-fuchsia-subtle: #f5d0fe;
  --support-fuchsia-weak: #fae8ff;
  --support-violet-emphasis: #4c1d95;
  --support-violet-strong: #6d28d9;
  --support-violet-primary: #8b5cf6;
  --support-violet-muted: #c4b5fd;
  --support-violet-subtle: #ddd6fe;
  --support-violet-weak: #4c0519;
  --bg-primary-raised: #ffffff;
  --fg-on-accent: #ffffff;
  --brand-on-weak: #f76231;
  --positive-on-weak: #22c55e;
  --info-on-weak: #3b82f6;
  --negative-on-weak: #e63838;
  --warning-on-weak: #f97316;
}