/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-light-8132 {
  --overlay-5: #ffffff0d;
  --overlay-50: #ffffff80;
  --elevation-2-old: #00000005;
  --rgb-elevation-2-old: 0, 0, 0;
  --elevation-7old: #00000012;
  --rgb-elevation-7old: 0, 0, 0;
  --elevation-10old: #0000001a;
  --rgb-elevation-10old: 0, 0, 0;
  --elevation-13old: #00000021;
  --rgb-elevation-13old: 0, 0, 0;
  --elevation-1: #28354703;
  --rgb-elevation-1: 40, 53, 71;
  --elevation-2: #28354705;
  --rgb-elevation-2: 40, 53, 71;
  --elevation-4: #2835470a;
  --rgb-elevation-4: 40, 53, 71;
  --elevation-5: #2835470d;
  --rgb-elevation-5: 40, 53, 71;
  --elevation-6: #2835470f;
  --rgb-elevation-6: 40, 53, 71;
  --elevation-7: #28354712;
  --rgb-elevation-7: 40, 53, 71;
  --bg-canvas: var(--new-slate-100);
  --bg-secondary: var(--new-slate-200);
  --bg-subtle: var(--new-slate-100);
  --bg-muted: var(--new-slate-300);
  --bg-strong: var(--new-slate-400);
  --bg-inverse-primary: var(--new-slate-2000);
  --fg-primary: var(--new-slate-2000);
  --fg-secondary: var(--new-slate-1300);
  --fg-tertiary: var(--new-slate-1100);
  --fg-subtle: var(--new-slate-500);
  --fg-muted: var(--new-slate-800);
  --fg-on-brand: var(--white);
  --border-weak: var(--new-slate-200);
  --border-subtle: var(--new-slate-300);
  --border-strong: var(--new-slate-400);
  --border-inverse-primary: var(--new-slate-2000);
  --brand-emphasis: var(--new-brand-1200);
  --brand-primary: var(--new-brand-1000);
  --brand-muted: var(--new-brand-700);
  --brand-weak: var(--new-brand-200);
  --brand-subtle: var(--new-brand-400);
  --positive-emphasis: var(--new-green-1600);
  --positive-primary: var(--new-green-1300);
  --positive-muted: var(--new-green-800);
  --positive-weak: var(--new-green-300);
  --positive-subtle: var(--new-green-500);
  --info-emphasis: var(--new-blue-1600);
  --info-primary: var(--new-blue-1200);
  --info-muted: var(--new-blue-800);
  --info-weak: var(--new-blue-300);
  --info-subtle: var(--new-blue-500);
  --warning-emphasis: var(--new-orange-1400);
  --warning-primary: var(--new-orange-1200);
  --warning-muted: var(--new-orange-800);
  --warning-weak: var(--new-orange-300);
  --warning-subtle: var(--new-orange-500);
  --negative-emphasis: var(--new-red-1500);
  --negative-primary: var(--new-red-1200);
  --negative-muted: var(--new-red-800);
  --negative-weak: var(--new-red-300);
  --negative-subtle: var(--new-red-500);
  --bg-surface: var(--white);
  --bg-surface-raised: var(--white);
  --bg-primary: var(--new-slate-100);
  --fg-inverse-primary: var(--white);
  --brand-strong: var(--new-brand-1100);
  --positive-strong: var(--new-green-1400);
  --info-strong: var(--new-blue-1300);
  --warning-strong: var(--new-orange-1300);
  --negative-strong: var(--new-red-1300);
  --support-blue-emphasis: var(--old-blue-900);
  --support-blue-strong: var(--old-blue-700);
  --support-blue-primary: var(--old-blue-500);
  --support-blue-muted: var(--old-blue-300);
  --support-blue-subtle: var(--old-blue-200);
  --support-blue-weak: var(--old-blue-100);
  --support-fuchsia-emphasis: var(--old-fuchsia-900);
  --support-fuchsia-strong: var(--old-fuchsia-700);
  --support-fuchsia-primary: var(--old-fuchsia-500);
  --support-fuchsia-muted: var(--old-fuchsia-300);
  --support-fuchsia-subtle: var(--old-fuchsia-200);
  --support-fuchsia-weak: var(--old-fuchsia-100);
  --support-violet-emphasis: var(--old-violet-900);
  --support-violet-strong: var(--old-violet-700);
  --support-violet-primary: var(--old-violet-500);
  --support-violet-muted: var(--old-violet-300);
  --support-violet-subtle: var(--old-violet-200);
  --support-violet-weak: var(--old-rose-950);
  --bg-primary-raised: var(--white);
  --fg-on-accent: var(--white);
  --brand-on-weak: var(--new-brand-1000);
  --positive-on-weak: var(--new-green-1200);
  --info-on-weak: var(--new-blue-1200);
  --negative-on-weak: var(--new-red-1200);
  --warning-on-weak: var(--new-orange-1100);
}