/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-light-8132 {
  --shadow-bottom-100: 0px 16px 32px -12px rgba(var(--rgb-elevation-7old), 0.07);
  --shadow-bottom-200: 0px 14px 36px -6px rgba(var(--rgb-elevation-7old), 0.07);
  --shadow-bottom-300: 0px 16px 36px -8px rgba(var(--rgb-elevation-10old), 0.1);
  --shadow-bottom-400: 0px 16px 40px -8px rgba(var(--rgb-elevation-13old), 0.13);
  --shadow-bottom-500: 0px 16px 40px -8px rgba(var(--rgb-elevation-10old), 0.1), 0px 5px 20px 12px rgba(var(--rgb-elevation-2-old), 0.02);
  --shadow-top-100: 0px -16px 32px -12px rgba(var(--rgb-elevation-7old), 0.07);
  --shadow-test-200: 0px -14px 36px -6px rgba(var(--rgb-elevation-7old), 0.07);
  --shadow-top-300: 0px -16px 36px -8px rgba(var(--rgb-elevation-10old), 0.1);
  --shadow-top-400: 0px -16px 40px -8px rgba(var(--rgb-elevation-13old), 0.13);
  --shadow-test-500: 0px -16px 40px -8px rgba(var(--rgb-elevation-10old), 0.1), 0px 5px 20px 12px rgba(var(--rgb-elevation-2-old), 0.02);
  --shadow-elevation-100: 0px 0px 20px 3px rgba(var(--rgb-elevation-2), 0.02), 0px 0px 6px 1px rgba(var(--rgb-elevation-1), 0.01);
  --shadow-elevation-200: 0px 0px 20px 2px rgba(var(--rgb-elevation-4), 0.04), 0px 0px 6px 1px rgba(var(--rgb-elevation-1), 0.01);
  --shadow-elevation-300: 0px 0px 24px 4px rgba(var(--rgb-elevation-5), 0.05), 0px 0px 6px 2px rgba(var(--rgb-elevation-1), 0.01);
  --shadow-elevation-400: 0px 0px 26px 6px rgba(var(--rgb-elevation-6), 0.06), 0px 0px 6px 2px rgba(var(--rgb-elevation-1), 0.01);
  --shadow-elevation-500: 0px 0px 32px 7px rgba(var(--rgb-elevation-7), 0.07), 0px 0px 8px 2px rgba(var(--rgb-elevation-1), 0.01);
}