/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-mobile {
  --font-weight-label-font-weight-medium: 500;
  --font-weight-body-font-weight-regular: 400;
  --font-weight-heading-font-weight-semi-bold: 600;
}