/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-mobile {
  --font-size-heading-size-1: 48px;
  --font-size-heading-size-2: 40px;
  --font-size-heading-size-3: 32px;
  --font-size-heading-size-4: 24px;
  --font-size-heading-size-5: 20px;
  --font-size-heading-size-6: 16px;
  --font-size-heading-size-7: 14px;
  --font-size-label-fixed-size-4-x-large: 38px;
  --font-size-label-compact-size-4-x-large: 32px;
  --font-size-label-compact-size-3-x-large: 26px;
  --font-size-label-compact-size-2-x-large: 22px;
  --font-size-label-compact-size-x-large: 18px;
  --font-size-label-compact-size-large: 16px;
  --font-size-label-compact-size-medium: 14px;
  --font-size-label-compact-size-small: 12px;
  --font-size-label-fixed-size-3-x-large: 32px;
  --font-size-label-fixed-size-2-x-large: 24px;
  --font-size-label-fixed-size-x-large: 20px;
  --font-size-label-fixed-size-large: 18px;
  --font-size-label-fixed-size-medium: 16px;
  --font-size-label-fixed-size-small: 14px;
  --font-size-label-fixed-size-x-small: 12px;
  --font-size-body-fixed-size-x-large: 24px;
  --font-size-body-fixed-size-large: 18px;
  --font-size-body-fixed-size-medium: 16px;
  --font-size-body-fixed-size-base: 15px;
  --font-size-body-fixed-size-small: 14px;
  --font-size-body-fixed-size-x-small: 12px;
  --font-size-body-compact-size-x-large: 20px;
  --font-size-body-compact-size-large: 16px;
  --font-size-body-compact-size-medium: 15px;
  --font-size-body-compact-size-base: 14px;
  --font-size-body-compact-size-small: 13px;
  --font-size-body-compact-size-x-small: 12px;
  --font-size-label-fixed-size-2-x-small: 10px;
}