/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-mobile {
  --size-2-xl: 56px;
  --size-lg: 40px;
  --size-md: 36px;
  --size-sm: 32px;
  --size-xs: 24px;
  --size-2-xs: 20px;
  --size-3-xs: 16px;
  --size-4-xs: 12px;
  --size-xl: 48px;
}