/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-desktop-584e {
  --border-radius-none: 0px;
  --border-radius-xxs: 4px;
  --border-radius-xs: 6px;
  --border-radius-sm: 8px;
  --border-radius-md: 10px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 20px;
  --border-radius-3xl: 24px;
  --border-radius-4xl: 32px;
  --border-radius-pill: 1000px;
}