/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-desktop-584e {
  --letter-spacing-heading-letter-spacing: -1%;
  --letter-spacing-label-letter-spacing: -0.75%;
  --letter-spacing-body-letter-spacing: 0.25%;
}