/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-desktop-584e {
  --space-0: 0px;
  --space-6: 1px;
  --space-12: 2px;
  --space-25: 4px;
  --space-37: 6px;
  --space-50: 8px;
  --space-75: 12px;
  --space-100: 16px;
  --space-125: 20px;
  --space-150: 24px;
  --space-175: 28px;
  --space-200: 32px;
  --space-225: 36px;
  --space-250: 40px;
  --space-300: 48px;
  --space-350: 56px;
  --space-400: 64px;
  --space-450: 72px;
  --space-500: 80px;
  --space-600: 96px;
  --space-700: 112px;
  --space-800: 128px;
  --space-900: 144px;
  --space-1000: 160px;
  --space-1100: 176px;
  --space-1200: 192px;
  --space-1300: 208px;
  --space-1400: 224px;
  --space-1500: 240px;
  --space-1600: 256px;
  --space-2000: 320px;
  --space-2400: 384px;
  --space-87: 14px;
}