/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d784 {
  --overlay-5: #0e121b0d;
  --overlay-50: #0e121b80;
  --elevation-2-old: #55607705;
  --rgb-elevation-2-old: 85, 96, 119;
  --elevation-7old: #55607712;
  --rgb-elevation-7old: 85, 96, 119;
  --elevation-10old: #5560771a;
  --rgb-elevation-10old: 85, 96, 119;
  --elevation-13old: #55607721;
  --rgb-elevation-13old: 85, 96, 119;
  --elevation-1: #55607703;
  --rgb-elevation-1: 85, 96, 119;
  --elevation-2: #55607705;
  --rgb-elevation-2: 85, 96, 119;
  --elevation-4: #5560770a;
  --rgb-elevation-4: 85, 96, 119;
  --elevation-5: #5560770d;
  --rgb-elevation-5: 85, 96, 119;
  --elevation-6: #5560770f;
  --rgb-elevation-6: 85, 96, 119;
  --elevation-7: #55607712;
  --rgb-elevation-7: 85, 96, 119;
  --bg-canvas: var(--new-gray-2000);
  --bg-secondary: var(--new-gray-1600);
  --bg-subtle: var(--new-gray-1800);
  --bg-muted: var(--new-gray-1500);
  --bg-strong: var(--new-gray-1800);
  --bg-inverse-primary: var(--white);
  --fg-primary: var(--white);
  --fg-secondary: var(--new-gray-400);
  --fg-tertiary: var(--new-gray-700);
  --fg-subtle: var(--new-gray-1300);
  --fg-muted: var(--new-gray-900);
  --fg-on-brand: var(--white);
  --border-weak: var(--new-gray-1700);
  --border-subtle: var(--new-gray-1600);
  --border-strong: var(--new-gray-1500);
  --border-inverse-primary: var(--new-gray-300);
  --brand-emphasis: var(--new-brand-600);
  --brand-primary: var(--new-brand-800);
  --brand-muted: var(--new-brand-1300);
  --brand-weak: var(--shade-brand-1600);
  --brand-subtle: var(--new-brand-1900);
  --positive-emphasis: var(--new-green-900);
  --positive-primary: var(--new-green-1100);
  --positive-muted: var(--new-green-1500);
  --positive-weak: var(--shade-green-1500);
  --positive-subtle: var(--new-green-1800);
  --info-emphasis: var(--new-blue-700);
  --info-primary: var(--new-blue-1000);
  --info-muted: var(--new-blue-1500);
  --info-weak: var(--shade-blue-1500);
  --info-subtle: var(--new-blue-1800);
  --warning-emphasis: var(--new-orange-800);
  --warning-primary: var(--new-orange-1000);
  --warning-muted: var(--new-orange-1500);
  --warning-weak: var(--shade-orange-1500);
  --warning-subtle: var(--new-orange-1800);
  --negative-emphasis: var(--new-red-800);
  --negative-primary: var(--new-red-1000);
  --negative-muted: var(--new-red-1500);
  --negative-weak: var(--shade-red-1500);
  --negative-subtle: var(--new-red-1800);
  --bg-surface: var(--new-gray-1900);
  --bg-surface-raised: var(--new-gray-1800);
  --bg-primary: var(--new-gray-1700);
  --fg-inverse-primary: var(--new-gray-2000);
  --brand-strong: var(--new-brand-700);
  --positive-strong: var(--new-green-1000);
  --info-strong: var(--new-blue-800);
  --warning-strong: var(--new-orange-900);
  --negative-strong: var(--new-red-900);
  --support-blue-emphasis: var(--old-blue-900);
  --support-blue-strong: var(--old-blue-700);
  --support-blue-primary: var(--old-blue-500);
  --support-blue-muted: var(--old-blue-300);
  --support-blue-subtle: var(--old-blue-200);
  --support-blue-weak: var(--old-blue-100);
  --support-fuchsia-emphasis: var(--old-fuchsia-900);
  --support-fuchsia-strong: var(--old-fuchsia-700);
  --support-fuchsia-primary: var(--old-fuchsia-500);
  --support-fuchsia-muted: var(--old-fuchsia-300);
  --support-fuchsia-subtle: var(--old-fuchsia-200);
  --support-fuchsia-weak: var(--old-fuchsia-100);
  --support-violet-emphasis: var(--old-violet-900);
  --support-violet-strong: var(--old-violet-700);
  --support-violet-primary: var(--old-violet-500);
  --support-violet-muted: var(--old-violet-300);
  --support-violet-subtle: var(--old-violet-200);
  --support-violet-weak: var(--old-violet-100);
  --bg-primary-raised: var(--new-gray-1600);
  --fg-on-accent: var(--white);
  --brand-on-weak: var(--new-brand-700);
  --positive-on-weak: var(--new-green-800);
  --info-on-weak: var(--new-blue-800);
  --negative-on-weak: var(--new-red-800);
  --warning-on-weak: var(--new-orange-800);
}