/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d784 {
  --overlay-5: #0e121b0d;
  --overlay-50: #0e121b80;
  --elevation-soft-1: #55607703;
  --rgb-elevation-soft-1: 85, 96, 119;
  --elevation-soft-2: #55607705;
  --rgb-elevation-soft-2: 85, 96, 119;
  --elevation-soft-4: #5560770a;
  --rgb-elevation-soft-4: 85, 96, 119;
  --elevation-soft-5: #5560770d;
  --rgb-elevation-soft-5: 85, 96, 119;
  --elevation-soft-6: #5560770f;
  --rgb-elevation-soft-6: 85, 96, 119;
  --elevation-soft-7: #55607712;
  --rgb-elevation-soft-7: 85, 96, 119;
  --elevation-strong-4: #1f22230a;
  --elevation-strong-8: #1f222314;
  --bg-canvas: #1f2223;
  --bg-secondary: #40444a;
  --bg-subtle: #2d2f34;
  --bg-muted: #464b53;
  --bg-strong: #2d2f34;
  --bg-inverse-primary: #ffffff;
  --fg-primary: #ffffff;
  --fg-secondary: #c6cad2;
  --fg-tertiary: #a5a9b1;
  --fg-subtle: #5a626a;
  --fg-muted: #8b929c;
  --fg-on-brand: #ffffff;
  --border-weak: #33373d;
  --border-subtle: #40444a;
  --border-strong: #464b53;
  --border-inverse-primary: #d1d5dc;
  --brand-emphasis: #ffc5aa;
  --brand-primary: #fd8654;
  --brand-muted: #d43900;
  --brand-weak: #592d1f;
  --brand-subtle: #5d1800;
  --positive-emphasis: #7fe09d;
  --positive-primary: #41ce73;
  --positive-muted: #237938;
  --positive-weak: #344139;
  --positive-subtle: #175526;
  --info-emphasis: #afd4ff;
  --info-primary: #71a6fa;
  --info-muted: #235ca9;
  --info-weak: #313a57;
  --info-subtle: #173e70;
  --warning-emphasis: #fdb88e;
  --warning-primary: #fb8a3e;
  --warning-muted: #a94c23;
  --warning-weak: #4a3d30;
  --warning-subtle: #703117;
  --negative-emphasis: #f8aaaa;
  --negative-primary: #f26666;
  --negative-muted: #a92323;
  --negative-weak: #4f2c2c;
  --negative-subtle: #701717;
  --bg-surface: #27292d;
  --bg-surface-raised: #2d2f34;
  --bg-primary: #33373d;
  --fg-inverse-primary: #1f2223;
  --brand-strong: #ff9a70;
  --positive-strong: #60d788;
  --info-strong: #9ac4ff;
  --warning-strong: #fca166;
  --negative-strong: #f58888;
  --bg-primary-raised: #40444a;
  --fg-on-accent: #ffffff;
  --brand-on-weak: #ff9a70;
  --positive-on-weak: #9ee9b2;
  --info-on-weak: #9ac4ff;
  --negative-on-weak: #f8aaaa;
  --warning-on-weak: #fdb88e;
}