/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark-d784 {
  --overlay-5: #0e121b0d;
  --overlay-50: #0e121b80;
  --elevation-2-old: #55607705;
  --rgb-elevation-2-old: 85, 96, 119;
  --elevation-7old: #55607712;
  --rgb-elevation-7old: 85, 96, 119;
  --elevation-10old: #5560771a;
  --rgb-elevation-10old: 85, 96, 119;
  --elevation-13old: #55607721;
  --rgb-elevation-13old: 85, 96, 119;
  --elevation-1: #55607703;
  --rgb-elevation-1: 85, 96, 119;
  --elevation-2: #55607705;
  --rgb-elevation-2: 85, 96, 119;
  --elevation-4: #5560770a;
  --rgb-elevation-4: 85, 96, 119;
  --elevation-5: #5560770d;
  --rgb-elevation-5: 85, 96, 119;
  --elevation-6: #5560770f;
  --rgb-elevation-6: 85, 96, 119;
  --elevation-7: #55607712;
  --rgb-elevation-7: 85, 96, 119;
  --bg-canvas: #1f2223;
  --bg-secondary: #40444a;
  --bg-subtle: #2d2f34;
  --bg-muted: #464b53;
  --bg-strong: #2d2f34;
  --bg-inverse-primary: #ffffff;
  --fg-primary: #ffffff;
  --fg-secondary: #c6cad2;
  --fg-tertiary: #a5a9b1;
  --fg-subtle: #5a626a;
  --fg-muted: #8b929c;
  --fg-on-brand: #ffffff;
  --border-weak: #33373d;
  --border-subtle: #40444a;
  --border-strong: #464b53;
  --border-inverse-primary: #d1d5dc;
  --brand-emphasis: #ffc5aa;
  --brand-primary: #fd8654;
  --brand-muted: #d43900;
  --brand-weak: #592d1f;
  --brand-subtle: #5d1800;
  --positive-emphasis: #7fe09d;
  --positive-primary: #41ce73;
  --positive-muted: #237938;
  --positive-weak: #344139;
  --positive-subtle: #175526;
  --info-emphasis: #afd4ff;
  --info-primary: #71a6fa;
  --info-muted: #235ca9;
  --info-weak: #313a57;
  --info-subtle: #173e70;
  --warning-emphasis: #fdb88e;
  --warning-primary: #fb8a3e;
  --warning-muted: #a94c23;
  --warning-weak: #4a3d30;
  --warning-subtle: #703117;
  --negative-emphasis: #f8aaaa;
  --negative-primary: #f26666;
  --negative-muted: #a92323;
  --negative-weak: #4f2c2c;
  --negative-subtle: #701717;
  --bg-surface: #27292d;
  --bg-surface-raised: #2d2f34;
  --bg-primary: #33373d;
  --fg-inverse-primary: #1f2223;
  --brand-strong: #ff9a70;
  --positive-strong: #60d788;
  --info-strong: #9ac4ff;
  --warning-strong: #fca166;
  --negative-strong: #f58888;
  --support-blue-emphasis: #1e3a8a;
  --support-blue-strong: #1d4ed8;
  --support-blue-primary: #3b82f6;
  --support-blue-muted: #93c5fd;
  --support-blue-subtle: #bfdbfe;
  --support-blue-weak: #dbeafe;
  --support-fuchsia-emphasis: #701a75;
  --support-fuchsia-strong: #a21caf;
  --support-fuchsia-primary: #d946ef;
  --support-fuchsia-muted: #f0abfc;
  --support-fuchsia-subtle: #f5d0fe;
  --support-fuchsia-weak: #fae8ff;
  --support-violet-emphasis: #4c1d95;
  --support-violet-strong: #6d28d9;
  --support-violet-primary: #8b5cf6;
  --support-violet-muted: #c4b5fd;
  --support-violet-subtle: #ddd6fe;
  --support-violet-weak: #ede9fe;
  --bg-primary-raised: #40444a;
  --fg-on-accent: #ffffff;
  --brand-on-weak: #ff9a70;
  --positive-on-weak: #9ee9b2;
  --info-on-weak: #9ac4ff;
  --negative-on-weak: #f8aaaa;
  --warning-on-weak: #fdb88e;
}