/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-mobile-5337 {
  --size-2xl: 56px;
  --size-l: 40px;
  --size-m: 36px;
  --size-sm: 32px;
  --size-xs: 24px;
  --size-2xs: 20px;
  --size-3xs: 16px;
  --size-4xs: 12px;
  --size-xl: 48px;
}