/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --elevation-soft-1: #55607703;
  --rgb-elevation-soft-1: 85, 96, 119;
  --elevation-soft-2: #55607705;
  --rgb-elevation-soft-2: 85, 96, 119;
  --elevation-soft-4: #5560770a;
  --rgb-elevation-soft-4: 85, 96, 119;
  --elevation-soft-5: #5560770d;
  --rgb-elevation-soft-5: 85, 96, 119;
  --elevation-soft-6: #5560770f;
  --rgb-elevation-soft-6: 85, 96, 119;
  --elevation-soft-7: #55607712;
  --rgb-elevation-soft-7: 85, 96, 119;
  --elevation-strong-4: #1f22230a;
  --elevation-strong-8: #1f222314;
  --partners-cowswap-primary: #38ceff;
  --partners-fluid-primary: #ffffff;
  --partners-aave-primary: #9290f5;
  --partners-aave-emphasis: #cbcafc;
  --partners-aave-strong: #acabf7;
  --partners-aave-muted: #403dd5;
  --partners-aave-subtle: #373599;
  --partners-aave-weak: #393762;
  --partners-aave-on-weak: #a8a7fc;
  --partners-cowswap-emphasis: #b8eeff;
  --partners-cowswap-strong: #84e1ff;
  --partners-cowswap-muted: #00a2d7;
  --partners-cowswap-subtle: #0087b3;
  --partners-cowswap-weak: #284751;
  --partners-cowswap-on-weak: #38ceff;
  --alpha-5: #1f22230d;
  --alpha-10: #1f22231a;
  --alpha-15: #1f222326;
  --alpha-20: #1f222333;
  --alpha-30: #1f22234d;
  --alpha-40: #1f222366;
  --alpha-50: #1f222380;
  --alpha-60: #1f222399;
  --alpha-70: #1f2223b2;
  --alpha-80: #1f2223cc;
  --alpha-90: #1f2223e5;
  --bg-canvas: #1f2223;
  --bg-secondary: #383c42;
  --bg-subtle: #2d2f34;
  --bg-muted: #464b53;
  --bg-strong: #2d2f34;
  --bg-inverse-primary: #ffffff;
  --fg-primary: #ffffff;
  --fg-secondary: #c6cad2;
  --fg-tertiary: #a5a9b1;
  --fg-subtle: #5a626a;
  --fg-muted: #8b929c;
  --fg-on-brand: #ffffff;
  --border-weak: #33373d;
  --border-subtle: #383c42;
  --border-strong: #464b53;
  --border-inverse-primary: #d1d5dc;
  --brand-emphasis: #ffc5aa;
  --brand-primary: #fd8654;
  --brand-muted: #d43900;
  --brand-weak: #592d1f;
  --brand-subtle: #5d1800;
  --positive-emphasis: #7fe09d;
  --positive-primary: #21b756;
  --positive-muted: #237938;
  --positive-weak: #344139;
  --positive-subtle: #175526;
  --info-emphasis: #afd4ff;
  --info-primary: #5694f8;
  --info-muted: #235ca9;
  --info-weak: #313a57;
  --info-subtle: #173e70;
  --warning-emphasis: #fdb88e;
  --warning-primary: #fb8a3e;
  --warning-muted: #a94c23;
  --warning-weak: #4a3d30;
  --warning-subtle: #703117;
  --negative-emphasis: #f8aaaa;
  --negative-primary: #fa5656;
  --negative-muted: #a92323;
  --negative-weak: #4f2c2c;
  --negative-subtle: #701717;
  --bg-surface: #27292d;
  --bg-surface-raised: #2d2f34;
  --bg-primary: #33373d;
  --fg-inverse-primary: #1f2223;
  --brand-strong: #ff9a70;
  --positive-strong: #60d788;
  --info-strong: #9ac4ff;
  --warning-strong: #fca166;
  --negative-strong: #f58888;
  --bg-primary-raised: #464b53;
  --fg-on-accent: #ffffff;
  --brand-on-weak: #ff9a70;
  --positive-on-weak: #9ee9b2;
  --info-on-weak: #9ac4ff;
  --negative-on-weak: #f8aaaa;
  --warning-on-weak: #fdb88e;
  --support-pink-primary: #ec4899;
  --support-fuchsia-emphasis: #f1b9f9;
  --support-fuchsia-strong: #ea99f6;
  --support-fuchsia-primary: #d946ef;
  --support-fuchsia-muted: #86189e;
  --support-fuchsia-subtle: #5a1069;
  --support-fuchsia-weak: #321a36;
  --support-fuchsia-on-weak: #f1b9f9;
  --support-pink-emphasis: #f8b9d8;
  --support-pink-strong: #f59ac7;
  --support-pink-muted: #9c184c;
  --support-pink-subtle: #681133;
  --support-pink-weak: #361a28;
  --support-pink-on-weak: #f8b9d8;
  --support-violet-emphasis: #d3c1fc;
  --support-violet-strong: #bfa5fa;
  --support-violet-primary: #8b5cf6;
  --support-violet-muted: #3d1fa2;
  --support-violet-subtle: #29156c;
  --support-violet-weak: #221a36;
  --support-violet-on-weak: #d3c1fc;
  --support-teal-emphasis: #a6e4dd;
  --support-teal-strong: #7ed8ce;
  --support-teal-primary: #14b8a6;
  --support-teal-muted: #077968;
  --support-teal-subtle: #055145;
  --support-teal-weak: #1a3633;
  --support-teal-on-weak: #a6e4dd;
  --support-lime-emphasis: #d0eca6;
  --support-lime-strong: #bbe37f;
  --support-lime-primary: #84cc16;
  --support-lime-muted: #468707;
  --support-lime-subtle: #2f5a05;
  --support-lime-weak: #2b361a;
  --support-lime-on-weak: #d0eca6;
}