/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-desktop {
  --border-width-50: 0.5px;
  --border-width-75: 0.75px;
  --border-width-100: 1px;
  --border-width-200: 2px;
  --border-width-0: 0px;
  --border-width-150: 1.5px;
}