/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-desktop {
  --font-family-label-font-family-geist: "Geist";
  --font-family-body-font-family-geist: "Geist";
  --font-family-heading-font-family-geist: "Geist";
}